

@font-face{font-family:'logo'; src:url(../fonts/font/MeriendaOne-Regular.ttf);}
@font-face{font-family:'pop'; src:url(../fonts/font/Poppins-Regular.ttf);}
@font-face{font-family:'balo'; src:url(../fonts/font/BalooChettan.ttf);}
@font-face{font-family:'jose'; src:url(../fonts/font/JosefinSans.ttf);}
@font-face{font-family:'tenor'; src:url(../fonts/font/TenorSans-Regular.ttf);}
@font-face{font-family:'mas'; src:url(../fonts/font/MaShanZheng-Regular.ttf);}


:root {
  --pop-color: #4b8106;
  }

body{
    padding:0;
    margin: 0;
    position: relative;

}


.header .img-logo img{
    
       padding-left: 25px;
    width: 65%;
    
}

.header .img-logo{
   text-align: center; 
}

.header .list .navbar ul li{
    padding-left: 10px;
}

.header .list .navbar ul li a{
     color: #000000;
    font-family: 'balo';
    font-size: 17px;
}   

.header .list .navbar ul li a:hover{
  color:var(--pop-color);  
}

.header .help{
    margin-top: 13px;
  text-align: center;
}

.header .help .search,.header .help .register,.header .help .card{
       margin-left: 70px;
    font-size: 23px;
    color:#000000;
    border: 0;
    transition: all 1s;
}
.header .help .search:hover,.header .help .register:hover,.header .help .card:hover{
    color:var(--pop-color);
transform: scale(1.2);
}
.header .help .item-span{
 position: relative;

}
.header .help .number{
   position: absolute;
    left: 83px;
    top: -12px;
    background-color:var(--pop-color);
    border-radius: 44%;
    text-align: center;
    /* padding: 10px; */
    width: 22px;
    height: 22px;
    
        
}

.header .help .item-span span{
 color: #ffffff;   
}

.header{
    position: relative;
    content: "";
}

.SEASONAL-FRUITS{
 display: none;
    position: absolute;
    left: -320px;
    top: 50px;
    box-shadow: 1px 1px 8px #d0cbcb;;
    right: -290px;
   text-align: center;
    background-color: #ffffff;
    z-index: 99999999999999;
}


.header .list .navbar ul li:hover .SEASONAL-FRUITS{
    display: block;
}

.header .list .navbar ul .item1{
   
}


.SEASONAL-FRUITS  img{
    width: 200px;
    height: 200px;
    transition: src 10s;
        
}
.SEASONAL-FRUITS  .img-teen,{
 width: 100%;   
}

.SEASONAL-FRUITS h3{
font-family:'balo';
        font-weight: bold;
}
.SEASONAL-FRUITS h6{
   font-family:'mas'; 
        font-size: 23px;
}

.SEASONAL-FRUITS input{
    font-family:'jose';
}

.SEASONAL-FRUITS input:hover{
    background: #ffffff;
    color:var(--pop-color);
}









.EXOTIC-FRUITS{
 display: none;
    position: absolute;
    left: -570px;
    top: 40px;
    box-shadow: 1px 1px 8px #d0cbcb;;
    right:-585px;
   text-align: center;
    background-color: #ffffff;
    z-index: 99999999999999;
}


.header .list .navbar ul li:hover .EXOTIC-FRUITS{
    display: block;
}

.header .list .navbar ul .item1{
   
}


.EXOTIC-FRUITS  img{
    width: 200px;
    height: 200px;
    transition: src 10s;
        
}
.EXOTIC-FRUITS  .img-teen,{
 width: 100%;   
}

.EXOTIC-FRUITS h3{
font-family:'balo';
        font-weight: bold;
}
.EXOTIC-FRUITS h6{
   font-family:'mas'; 
        font-size: 23px;
}

.EXOTIC-FRUITS input{
    font-family:'jose';
}

.EXOTIC-FRUITS input:hover{
    background: #ffffff;
    color:var(--pop-color);
}

















.ORGANIC-JUICES{
    display: none;
    position: absolute;
    left: -776px;
    top: 40px;
    box-shadow: 1px 1px 8px #d0cbcb;
    right: -400px;
    text-align: center;
        padding-top: 45px;
    padding-right: 20px;
     padding-bottom: 45px;
     background-color: #ffffff;
    z-index: 99999999999999;
}



.header .list .navbar ul li:hover .ORGANIC-JUICES{
    display: block;
}



.ORGANIC-JUICES  img{
    width: 200px;
    height: 200px;
    transition: src 10s;
        
}

.ORGANIC-JUICES h3{
font-family:'balo';
        font-weight: bold;
}
.ORGANIC-JUICES h6{
   font-family:'mas'; 
        font-size: 23px;
}

.ORGANIC-JUICES input{
    font-family:'jose';
    background-color:var(--pop-color);
}

.ORGANIC-JUICES input:hover{
    background: #ffffff;
    color:var(--pop-color);
}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
   background:var(--pop-color);
}














.blog {
    display: none;
    position: absolute;
    left: -885px;
    top: 40px;
    box-shadow: 1px 1px 8px #d0cbcb;
    right: -354px;
    text-align: left;
    padding-top: 45px;
    padding-right: 20px;
    padding-bottom: 45px;
     background-color: #ffffff;
    z-index: 99999999999999;
}



.header .list .navbar ul li:hover .blog{
    display: block;
}



.blog  img{
  width: 284px;
    height: 211px;
    background: #f0f1f1;
    padding: 15px;
    text-align: center;
  
        
}

.blog h4{
font-family: 'balo';
    /* font-weight: bold; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    padding-top: 10px;
}
.blog h6{
   font-family:'jose'; 
        font-size: 23px;
}


.blog .calender{
    color: var(--pop-color);
    margin-right: 10px;
    font-size: 27px;
    
}

.blog .img{
  position: relative;   
}

.blog .img:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: var(--pop-color);
    height: 100%;
    opacity: 0.2;
    width: 96%;
 transition: all 2s;
}


.modal-header {
 border-bottom: 0px;   
}

.modal-header .close {
    padding: 0rem 1rem;
    margin: -1rem -1rem -1rem auto;
    font-size: 43px;
    color: var(--pop-color);
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    width: 1000px;
    margin-left: -254px;
}

.input-group-text {
   
     background-color:white;
     border:0px;
    border-radius: 0;
}




.help .input-group button {
    background-color: var(--pop-color);
    color: white;
    font-family: 'balo';
    margin-left: -133px;
}

.help .input-group .form-control {
    font-weight: bold;
    width: 200px;
    height: 54px;
}

.help .input-group button:focus{
  box-shadow: none;
  border:1px solid var(--pop-color);
    outline-width:0px;
   
}

.sign-register ul li{
    list-style-type: none;
    box-sizing: border-box;
        text-align: left;
}

.header{
    position: relative;
}
.sign-register{

background-color: #eaeaea;
    padding: 10px;
    position: absolute;
    top: 30px;
    left: 100px;
    border: 1px solid var(--pop-color);
    box-shadow: 1px 1px 3px #000000;
    display: none;
    z-index: 9000000000000000;
}

.sign-register ul li a{
    font-size: 20px;
}

.sign-register ul li .ic{
        color: var(--pop-color);
    padding-right: 5px;
    font-size: 28px;
}
.sign-register ul li a{
    color: #000000;
    font-family: 'jose';
}

.card-list img{
    width: 80%;
}


.card-list{
    background:#eaeaea;
        padding: 20px;
    font-family: 'balo';
    position: absolute;
    top: 30px;
    left: 10px;
    display: none;
       z-index: 9000000000000000;
}
.card-list .element{
    margin: 5px;
   background: #6a8e6c;;
    border: 2px solid  var(--pop-color);
}


.header .help .card:hover .card-list {
    display: block;
}


.card-list button {
    /* background: var(--blue); */
    background: var(--pop-color);
    margin-top: 12px;
    padding: 10px 42px;
    color: #ffffff;
    font-family: 'jose';
    font-size: 18px;
}
.card-list button a{
 color: #fff;   
}
.card-list button:hover{
     background:#ffffff;
    color: var(--pop-color);
    border: 2px solid var(--pop-color);
}

.card-list button:hover a{
     color: var(--pop-color);
}



.panner img{
   width: 90%;
}


.panner .item{
    position: relative;
}

 .panner .item .content{
 position: absolute;
        left: 100px;
    top: 140px;
}

.panner .item .content h1{
        font-family: 'balo';
    font-size: 50px;
    font-weight: bold;
}

.panner .item .content p{
   font-family: 'jose';
    width: 670px;
    font-size: 18px;
}


.panner .item .content button{
   
    color: white;
    background-color: var(--pop-color);
    border: 0px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'jose';
}

.panner .item .content button:hover{
    background-color: white;
    color:var(--pop-color);
    border: 1px solid var(--pop-color); 
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top:0px;
}


















